<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Counter</h2>
	
	<p><%= count %></p>

	<form action="/add" method="post">

	<!-- <input type="submit" value="Add 2"> -->
		<button>submit</button>
	</form>

	<form action="/reset" method="post">
	<button>reset</button>
	<!-- <input type="button" value="reset"> -->
		
	</form>
</body>
</html>