<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style2.css">
	<!-- <link rel="stylesheet" type="text/css" href="../static/style2.css"> -->
</head>
<body>
	<div id="wrapper">
		<h2>Submitted Info</h2>
		<p>Name:                         <%= data.name%></p>
		<p>Dojo Location:                 <%= data.location%></p>
		<p>Favorite Language:             <%= data.language%></p>
		<p>Comment:                       <%= data.comment%></p>

	</div>

</body>
</html>