<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="header">
		<p id="currgold">Your Gold:<input id="goldout" type="textbox" name="currgold" value="{{session['gold']}}"></p>
	</div>
	<div class="main">
		<p class="type">Farm</p>
		<p class="earn">(earns 10 - 20 golds)</p>
		<form action="/process_money" method="post">
		  <input type="hidden" name="building" value="farm" />
		  <input class="sub" type="submit" value="Find Gold!"/>
		</form>

	</div>
	<div class="main">
		<p class="type">Cave</p>
		<p class="earn">(earns 5 - 10 golds)</p>
		<form action="/process_money" method="post">
		  <input type="hidden" name="building" value="cave" />
		  <input class="sub" type="submit" value="Find Gold!"/>
		</form>		
	</div>
	<div class="main">
		<p class="type">House</p>
		<p class="earn">(earns 2 - 5 golds)</p>
		<form action="/process_money" method="post">
		  <input type="hidden" name="building" value="house" />
		  <input class="sub" type="submit" value="Find Gold!"/>
		</form>		
	</div>
	<div class="main">
		<p class="type">Casino</p>
		<p class="earn">(earns/takes 0 - 50 golds)</p>
		<form action="/process_money" method="post">
		  <input type="hidden" name="building" value="casino" />
		  <input class="sub" type="submit" value="Find Gold!"/>
		</form>		
	</div>
	<p>Activities:</p>
	<div id="textarea">
	
	<!-- <textarea> -->
	{% for x in session['activities'] %}	
	{{ x|safe }}
	{% endfor %}
	</div>
<!-- 	</textarea> -->
</body>
</html>