<!DOCTYPE html>
<html>
<head>
	<title>Login/Register</title>
</head>
<body>
	<div id="register">
		<h3>Register</h3>
		<form action="/register" method="post">
			<label>First Name:</label><br>
			<input type="text" name="name.first"><br>

			<label>Last Name:</label><br>
			<input type="text" name="name.last"><br>
			
			<label>Password:</label><br>
			<input type="password" name="password"><br>
			
			<label>Confirm Password:</label><br>
			<input type="password" name="confirm_password"><br>
			
			<label>Email:</label><br>
			<input type="text" name="email"><br>
			
			<label>Date of Birth:</label><br>
			<input type="date" name="dob"><br><br>
			
			<input type="submit" value="Register"><hr>
		</form>
	</div>

	<div id="login">
		<h3>Login</h3>
		<form action="/login" method="post">

			<label>Email:</label><br>
			<input type="email" name="email"><br>
			
			<label>Password:</label><br>
			<input type="password" name="password"><br><br>

			<input type="submit" value="Login">
		</form>
	</div>
</body>
</html>