<h1>Edit User</h1>

<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">
	<p>
		<label>Name:</label>
		<input type="text" name="name" value="<%= @user.name %>">
	</p>
	<input type="submit" value="Edit User">
</form>