<table style="border-style: solid">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Created_at</td>
      <td>Updated_at</td>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.created_at %></td>
      <td><%= user.updated_at %></td>
    </tr>
  <% end %>  
  </tbody>
</table>