<html>
<head>
  <title>Login and registration</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>Logged in {{ session['loggedin'] }}</p>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <p>{{ message|safe }}</p>
      {% endfor %}
   {% endif %}
{% endwith %}
<h2>Login</h2>
<form action="/login" method="post">
  Email:<input type="text" name="email">
  Password <input type="text" name="password">
  <input type="submit" name="submit">
</form>
<br>
<hr>
<h2>Registration</h2>
<form action='/registration' method="post">
  First Name:<input type="text" name="firstname">
  Last Name:<input type="text" name="lastname">
  Email:<input type="text" name="email">
  Password <input type="text" name="password">
  Confirm Password:<input type="text" name="confirm">
  <input type="submit" name="submit">
</form>



</body>
</html>