#wrong{
	height: 200px;
	width: 200px;
	background: red;
	color:white;
	margin-bottom: 20px;
	margin-left: 280px;
}
#correct{
	height: 200px;
	width: 200px;
	background: green;
	color:white;
	margin-bottom: 20px;
	margin-left: 280px;
}
p:first-child{
	margin-top: 100px;
	text-align: center;
	display: inline-block;
	margin-left:80px;
}
p{
	text-align: center
}
h1{
	text-align: center;
}
input{
	margin-left: 300px;
}
input:nth-child(2){
	margin-left: 340px;
}
input #correct{
	margin:0;
}