<!--<h1>{{ title }}</h1>-->
<h1>{{ name }}</h1>
{{ user.firstName }}
{{ user.lastName }}


<!-- <table class="table table-bordered">
                <tr>
                    <th>Option</th>
                    <th>Current Count of Votes</th>
                    <th>Action</th>
                </tr>

                <tr>
                    <td>{{ questiondata.firstoption.optionname }}</td>
                    <td>{{ questiondata.firstoption.vote }}</td>
                    <td>
                        <button (click)=increasevote(questiondata._id, questiondata.firstoption.optionname)>Vote</button>
                  </td>
                </tr>      
</table> -->