<!DOCTYPE html>
<html>
<head>
	<title>Dojo Site</title>
	  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<form action="/logout" method="post">
		{% csrf_token %}
		<input type="submit" value="Logout">
	</form>

	<h1>Hello, {{first_name}}</h1>
	<form action="/newsecret" method="post">
	{% csrf_token %}
		<textarea rows="4" cols="50" name="secret" >Your secret here...</textarea>
		<input type="submit" value="Post" id="post">
	</form>

	<a href="/popular">Most Popular Secrets</a>

	<h2>Recent Secrets...</h2>
	{%if request.session.errors%}
		{%for i in request.session.errors%}
		  <p id = "error">{{i}}</p>
		 {%endfor%} 
	 {%endif%}
	
	{%for i in post%}
	<p>{{i.content}}  ({{i.dateage}}) {{i.num_likes}} likes
	{{i.likes}}
<!-- 	if request.session.id in liked_posts  -->
	{%if request.session.user == i.userid%}
	<span style="font-weight: bold">You posted this</span> <a href="/delete/{{i.id}}">Delete</a>
		
	{%else%}
		{%if i.id in liked_posts%}
			<span id="liked">You liked this post</span>
			{%else%}
			 <a href="/like/{{i.id}}/secrets">Like</a>
		{%endif%}
		 </p>
	{%endif%}

	{%endfor%}







</body>
</html>
